
<mat-toolbar color="primary">
    <span style="margin-right: 100px;"><i>Ng Shopping</i></span>
    <a routerLink="home" class="menu-spacer" routerLinkActive="active-link">Home</a>
    <a routerLink="auth/login" class="menu-spacer" routerLinkActive="active-link">Login </a>
    <a routerLink="auth/register" class="menu-spacer" routerLinkActive="active-link"> Register </a>
    <a routerLink="admin/dashboard" class="menu-spacer" routerLinkActive="active-link"> Dashboard </a>
    <a routerLink="auth/logout" routerLinkActive="active-link"> Logout</a>
</mat-toolbar>